{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E3SM Land Model Database</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

        <div class="button-container">
            <h2>Tables in the database:</h2>
            <div class="button-group">
                <a href="{% url 'view_table' table_name='subroutine_calltree' %}">
                    <button class="styled-button">Subroutine CallTree</button>
                </a>
                <a href="{% url 'view_table' table_name='types' %}">
                    <button class="styled-button">User Types</button>
                </a>
                <a href="{% url 'view_table' table_name='dependency' %}">
                    <button class="styled-button">Module Dependency</button>
                </a>
                <a href="{% url 'view_table' table_name='instances' %}">
                    <button class="styled-button">Type Instances</button>
                </a>
                <a href="{% url 'view_table' table_name='modules' %}">
                    <button class="styled-button">Modules</button>
                </a>
                <a href="{% url 'view_table' table_name='subroutines' %}">
                    <button class="styled-button">Subroutines</button>
                </a>
                <a href="{% url 'view_table' table_name='subroutineargs' %}">
                    <button class="styled-button">Subroutine Arguments</button>
                </a>
            </div>
        </div>

         <!-- Button to load the subroutine_calltree content -->
    <button hx-post="{% url 'subcall' %}" 
              hx-vals='{"Variable": "bounds%begc" }' 
            hx-target="#subroutine-container" 
            hx-swap="innerHTML">
        Load Subroutine Calltree
    </button>

    <div id="subroutine-container">
            {% include "partials/subcall_partial.html"  with Variable="bounds%begc" %}
    </div>

</body>
</html>
