{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E3SM Land Model Database</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


<div class="button-container">
    <a href="{% url 'view_table' table='subroutine_calltree' %}">  <button>Subroutine CallTree</button></a>
    <a href="{% url 'view_table' table='types' %}">  <button>  User Types</button></a>
    <a href="{% url 'view_table' table='dependency' %}">  <button>  Module Dependency</button></a>
    <a href="{% url 'view_table' table='variables' %}">  <button>  Variables</button></a>
    <a href="{% url 'view_table' table='instances' %}">  <button>  Type Instances</button></a>
    <a href="{% url 'home' %}">go </a>
</div>

</body>
</html>
