{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elm_db</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>ELM Type Definition Table  <a href="{% url 'home' %}" class="return-link">Return</a></h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Module</th>
            <th>Type_Name</th>
            <th>Member</th>
            <th>Member_Type</th>
            <th>Dimensions</th>
            <th>Bounds</th>
        </tr>
        {% for obj in all_objects %}
        <tr>
            <td>{{ obj.define_id }}</td>
            <td>{{ obj.module.module_name }}</td>
            <td>{{ obj.user_type.user_type_name }}</td>
            <td>{{ obj.member_type }}</td>
            <td>{{ obj.member_name }}</td>
            <td>{{ obj.dim }}</td>
            <td>{{ obj.bounds }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
