<table class="schema-table">
  <thead>
    <tr>
      {% for field_name in field_names %}
      <th>
        <button class="sort-button {% if request.POST.sort_by == field_name %}active{% endif %}"
          hx-post="{% url 'view_table' table_name=table_name %}" 
          hx-vals='{"sort_by": "{{ field_name }}" }' 
          hx-target="closest table"
          hx-swap="outerHTML">
          {{ field_name|capfirst }}
        </button>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for obj in all_objects %}
    <tr>
      {% for item in obj %}
      <td>{{ item }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

