<br />

{% if not tree %}
<p>Subroutine not found</p>
{% endif %}

<div id="active-view" class="split-container">
    <div class="left-panel" id="left-panel">
        {{ tree|safe }}
    </div>
    <div class="right-panel" id="right-panel">
        {% if all %}
        <table id="subcall-table">
            <thead>
                <tr>
                    <th>Subroutine</th>
                    <th>Variable</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% include "partials/table_subcall.html" %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
